<div id="myCarousel1603812375179" class="main-slider carousel s_carousel slide s_carousel_default" data-interval="10000"
	data-snippet="s_carousel">
	<div class="carousel-inner">
		<div class="slide carousel-item oe_custom_bg pb96 pt96 o_colored_level active"
			style="background-image: url(&quot;&quot;);" data-name="Slide" data-original-title="" title=""
			aria-describedby="tooltip437192">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
						<div class="center-content">
							<h3>Smart IT is the UK's largest and most successful Odoo Gold ERP partner.</h3>
							<p>We know that intelligent use of IT services can be the key to the long term development,
								growth and success of your business.</p>
							<a href="#" class="btn btn-red-keyline">Why trust your ERP implementation to Smart IT?</a>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
						<div class="logo-holder-feature">
							<img src="https://www.optiva.co.uk/smart-it/assets/odoo-gold-partner-logo.png"
								alt="Odoo Gold Partner" class="img-fluid" loading="lazy" />
						</div>
						<img src="https://www.optiva.co.uk/smart-it/assets/main-slider-img-1.png" alt="Side Image"
							class="img-fluid side-img" loading="lazy" />
					</div>
				</div>
			</div>
			<div class="shape-holder"
				style="background-image: url('https://www.optiva.co.uk/smart-it/assets/blue-square-holder.png')" />
		</div>
		<div class="slide carousel-item pb96 pt96 oe_custom_bg oe_img_bg o_bg_img_center o_colored_level"
			style="background-image: url(&quot;&quot;);" data-name="Slide" aria-describedby="tooltip789332">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
						<div class="center-content">
							<h3>Speed up processes by more than 80%, with 100% accuracy with an Odoo ERP solution
								delivered by Smart IT.</h3>
							<p>Find out how Smart IT eradicated order processing duplication and reduced administrative
								burden for Zelus Sport.</p>
							<a href="#" class="btn btn-red-keyline">Find Out More</a>
							<a href="#" class="btn btn-grey-keyline">Try Odoo for yourself with a free trial</a>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
						<div class="logo-holder-feature">
							<img src="https://www.optiva.co.uk/smart-it/assets/odoo-gold-partner-logo.png"
								alt="Odoo Gold Partner" class="img-fluid" loading="lazy" />
						</div>
						<img src="https://www.optiva.co.uk/smart-it/assets/slide-2.png" alt="Side Image"
							class="img-fluid side-img" loading="lazy" />
					</div>
				</div>
			</div>
			<div class="shape-holder"
				style="background-image: url('https://www.optiva.co.uk/smart-it/assets/blue-square-holder.png')" />
		</div>
		<div class="slide carousel-item pb128 pt128 oe_custom_bg o_colored_level"
			style="background-image: url(&quot;&quot;);" data-name="Slide">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
						<div class="center-content">
							<h3>Smart IT can deliver a turnkey ERP solution supported by an innovative portfolio of
								managed IT services.</h3>
							<p>30% more of our customers trusted their managed IT services to Smart IT last year.</p>
							<a href="#" class="btn btn-red-keyline">Find out more about Managed IT Services</a>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
						<div class="logo-holder-feature">
							<img src="https://www.optiva.co.uk/smart-it/assets/odoo-gold-partner-logo.png"
								alt="Odoo Gold Partner" class="img-fluid" loading="lazy" />
						</div>
						<img src="https://www.optiva.co.uk/smart-it/assets/slide-3.png" alt="Side Image"
							class="img-fluid side-img" loading="lazy" />
					</div>
				</div>
			</div>
			<div class="shape-holder"
				style="background-image: url('https://www.optiva.co.uk/smart-it/assets/blue-square-holder.png')" />
		</div>
	</div>
	<div class="slider-indicators">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
					<div class="center-content">
						<ol class="carousel-indicators">
							<li data-target="#myCarousel1603812375179" data-slide-to="0" class="active" />
							<li data-target="#myCarousel1603812375179" data-slide-to="1" />
							<li data-target="#myCarousel1603812375179" data-slide-to="2" />
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
